{#用户界面的算法列表#}

{% extends "main_layout.html" %}

{% block content %}
    <div class="container-fluid clearfix">
    <div class="col-sm-9">
        <div class="media">

            <div class="media-body">
                <h4 class="media-heading">粒子群算法</h4>
                粒子群算法，也称粒子群优化算法或鸟群觅食算法（Particle Swarm Optimization），缩写为 PSO， 是由J. Kennedy和R. C.
                Eberhart等开发的一种新的进化算法(Evolutionary Algorithm - EA)。PSO 算法属于进化算法的一种，
                和模拟退火算法相似，它也是从随机解出发，通过迭代寻找最优解，它也是通过适应度来评价解的品质，但它比遗传算法规则更为简单， 它没有遗传算法的“交叉”(Crossover) 和“变异”(Mutation)
                操作，它通过追随当前搜索到的最优值来寻找全局最优。 这种算法以其实现容易、精度高、收敛快等优点引起了学术界的重视，并且在解决实际问题中展示了其优越性。粒子群算法是一种并行算法。
            <a href="#">更多</a>
            </div>

        </div>
        <div class="media">

            <div class="media-body">
                <h4 class="media-heading">蚁群算法</h4>
                蚁群算法是一种智能优化算法，在TSP商旅问题上得到广泛使用。蚁群算法于1992年由Marco
                Dorigo首次提出，该算法来源于蚂蚁觅食行为。由于蚂蚁没有视力，所以在寻找食物源时，会在其经过的路径上释放一种信息素，并能够感知其它蚂蚁释放的信息素。信息素浓度的大小表征路径的远近，信息素浓度越高，表示对应的路径距离越短。通常，蚂蚁会以较大的概率优先选择信息素浓度高的路径，并且释放一定的信息素，使该条路径上的信息素浓度增高，进而使蚂蚁能够找到一条由巢穴到食物源最近的路径。但是，随着时间的推移，路径上的信息素浓度会逐渐衰减。
                粒子群算法，也称粒子群优化算法或鸟群觅食算法（Particle Swarm Optimization），缩写为 PSO， 是由J. Kennedy和R. C.
                Eberhart等开发的一种新的进化算法(Evolutionary Algorithm - EA)。PSO 算法属于进化算法的一种，
                和模拟退火算法相似，它也是从随机解出发，通过迭代寻找最优解，它也是通过适应度来评价解的品质，但它比遗传算法规则更为简单， 它没有遗传算法的“交叉”(Crossover) 和“变异”(Mutation)
                操作，它通过追随当前搜索到的最优值来寻找全局最优。 这种算法以其实现容易、精度高、收敛快等优点引起了学术界的重视，并且在解决实际问题中展示了其优越性。粒子群算法是一种并行算法。
            <a href="#">更多</a>
            </div>
        </div>


        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">最火政策推荐</div>
            <div class="panel-body">
                粒子群算法
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">最新政策推荐</div>
            <div class="panel-body">
                蚁群算法
            </div>
        </div>
    </div>
</div>
{% endblock %}