
{% extends "main_layout.html" %}

{% block content %}
    <div class="container-fluid clearfix">
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">选择指标</label>
                <div class="col-sm-10">

                    <select class="form-control" name="target">
                        {% for obj in target_queryset %}
                            <option value="{{ obj.id }}">{{ obj.target }}</option>
                        {% endfor %}
                    </select>


                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">选择算法</label>
                <div class="col-sm-10">

                    <select class="form-control" name="algorithm">
                        {% for obj in algorithm_queryset %}
                            <option value="{{ obj.id }}">{{ obj.algorithm }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">选择文件</label>
                <div class="col-sm-10">
                    <input type="file">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">输入参数</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="data" id="inputEmail3" placeholder="数据">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">预测</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}